@import url('https://fonts.googleapis.com/css?family=Roboto:400|Raleway:400|Major+Mono+Display&display=swap');

#tooltip {
	border-radius: 10px;
	padding: 2px 16px;
	background-color: hsla(0, 0%, 0%, 0.8);
	color: hsl(0, 0%, 85%);
	border: 1px solid hsl(0, 0%, 85%);
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: hsl(240, 80%, 7.5%);
}

header {
	background-color: hsl(240, 80%, 5%);
	height: 120px;
	    grid-template-areas: 'title heading';
	-ms-grid-columns: -webkit-max-content 1fr;
	-ms-grid-columns: max-content 1fr;
	grid-template-columns: -webkit-max-content 1fr;
	grid-template-columns: max-content 1fr;
	border-bottom: 1px solid white;
}

nav {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	margin: 0 auto;
	padding-top: 25px;
	border-radius: 25px;
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

nav table {
	height: 100%;
}

nav button {
	background-color: hsl(240, 80%, 5%);
	border: 1px solid white;
	border-left: none;
	border-right: none;
	color: white;
	padding: 15px;
}

nav button:first-child {
	border-radius: 25px 0 0 25px;
	border-left: 1px solid white;
	padding-left: 15px;
}

nav button:last-child {
	border-radius: 0 25px 25px 0;
	border-right: 1px solid white;
	padding-right: 15px;
}

button.active {
	background-color: hsl(210, 68%, 47%);
	cursor: pointer;
}

h1 {
	font-size: 36px;
	font-weight: normal;
	margin: 0;
	padding-top: 28px;
	color: white;
}

header h2 {
	font-family: 'Major Mono Display', monospace;
	margin: 0;
	color: white;
	font-weight: 500;
	position: absolute;
	left: 6.25vw;
	top: 4.25vh;
	letter-spacing: 2px;
}

h3 {
	margin: 0;
	color: hsl(0, 0%, 47%);
	position: absolute;
	left: 6.25vw;
	top: 7.44vh;
	font-size: 14px;
	font-weight: 500;
}

.container {
	text-align: center;
}

section {
	width: 90%;
	margin: 80px auto 39px;
	margin-left: 60px;
}

#mmr h5 {
	margin: 0;
	font-size: 16px;
}

hr {
	width: 60%;
}

h1, h2 {
	font-family: 'Raleway', sans-serif;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	display: inline-block;
}

#chart {
	width: 100%;
	display: -ms-grid;
	display: grid;
	grid-column-gap: 40px;
	-ms-grid-columns: 1fr 40px -webkit-min-content;
	-ms-grid-columns: 1fr 40px min-content;
	grid-template-columns: 1fr -webkit-min-content;
	grid-template-columns: 1fr min-content;
	-ms-grid-rows: -webkit-max-content -webkit-max-content;
	-ms-grid-rows: max-content max-content;
	grid-template-rows: -webkit-max-content -webkit-max-content;
	grid-template-rows: max-content max-content;
	    grid-template-areas: 'chart race'
			   			 'chart league';
}

.recharts-responsive-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: chart;
}

.controls {
	margin-top: 20px;
}

.controls button {
	width: 100%;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.controls button:first-child {
	border-radius: 15px 15px 0 0;
	border-top: 1px solid white;	
}

.controls button:last-child {
	border-radius: 0 0 15px 15px;
	border-bottom: 1px solid white;
}

#race {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	grid-area: race;
}

#league {
	-ms-grid-row: 2;
	-ms-grid-column: 3;
	grid-area: league;
}

button {
	background-color: black;
	color: hsl(0, 0%, 85%);
	padding: 10px;
	border: none;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

button:hover {
	background-color: hsl(210, 68%, 47%);
	cursor: pointer;
}

button:focus {
 	outline: none;
}

.active {
	background-color: hsl(0, 0%, 85%);
}

#offrace {
	display: grid;
	grid-template: 1fr / max-content 1fr;
	grid-template-areas: "radar pie";
}

#pie {
	grid-area: pie;
	justify-self: right;
	display: grid;
	align-items: flex-end;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: repeat(3, 200px);
	grid-column-gap: 20px;
	grid-template-areas: "none zerg random"
						 "protoss terran controls";
}

#radar {
	grid-area: radar;
}

.pie-chart {
	
}

#offrace .controls {
	grid-area: controls;
	width: min-content;
	justify-self: center;
}

#protoss {
	grid-area: protoss;
}

#protoss .recharts-layer.recharts-pie .recharts-layer:nth-child(1) .recharts-sector:hover {
	fill: hsl(282, 100%, 30%);
}

#protoss .recharts-layer.recharts-pie .recharts-layer:nth-child(2) .recharts-sector:hover {
	fill: red;
}

#protoss .recharts-layer.recharts-pie .recharts-layer:nth-child(3) .recharts-sector:hover {
	fill: hsl(198, 71%, 73%);
}

#terran {
	grid-area: terran;
}

#terran .recharts-layer.recharts-pie .recharts-layer:nth-child(1) .recharts-sector:hover {
	fill: hsl(51, 100%, 50%);
}

#terran .recharts-layer.recharts-pie .recharts-layer:nth-child(2) .recharts-sector:hover {
	fill: hsl(282, 100%, 30%);
}

#terran .recharts-layer.recharts-pie .recharts-layer:nth-child(3) .recharts-sector:hover {
	fill: hsl(198, 71%, 73%);
}

#zerg {
	grid-area: zerg;
}

#zerg .recharts-layer.recharts-pie .recharts-layer:nth-child(1) .recharts-sector:hover {
	fill: hsl(51, 100%, 50%);
}

#zerg .recharts-layer.recharts-pie .recharts-layer:nth-child(2) .recharts-sector:hover {
	fill: red;
}

#zerg .recharts-layer.recharts-pie .recharts-layer:nth-child(3) .recharts-sector:hover {
	fill: hsl(198, 71%, 73%);
}

#random {
	grid-area: random;
}

#random .recharts-layer.recharts-pie .recharts-layer:nth-child(1) .recharts-sector:hover {
	fill: hsl(51, 100%, 50%);
}

#random .recharts-layer.recharts-pie .recharts-layer:nth-child(2) .recharts-sector:hover {
	fill: hsl(282, 100%, 30%);
}

#random .recharts-layer.recharts-pie .recharts-layer:nth-child(3) .recharts-sector:hover {
	fill: red;
}

.recharts-sector {
	transition: fill-opacity 0.5s, fill 0.5s;
}

.recharts-sector:hover {
	fill-opacity: 1;
}

footer {
	background-color: hsl(240, 80%, 5%);
	color: white;
	font-size: 14px;
	width: 100%;
	height: 60px;
	border-top: 1px solid white;
}

footer p {
	margin-top: 20px;
}