@import url('https://fonts.googleapis.com/css?family=Roboto:400|Raleway:400|Major+Mono+Display&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: hsl(240, 80%, 7.5%);
}

header {
    background-color: hsl(240, 80%, 5%);
    height: 120px;
    grid-template-areas: 'title heading';
    -ms-grid-columns: -webkit-max-content 1fr;
    -ms-grid-columns: max-content 1fr;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
    border-bottom: 1px solid hsl(0, 0%, 85%);
}

nav {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    padding-top: 25px;
    border-radius: 25px;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

nav table {
    height: 100%;
}

nav button {
    background-color: hsl(240, 80%, 5%);
    border: 1px solid hsl(0, 0%, 85%);
    border-left: none;
    border-right: none;
    color: hsl(0, 0%, 85%);
    padding: 15px;
}

nav button:first-child {
    border-radius: 25px 0 0 25px;
    border-left: 1px solid hsl(0, 0%, 85%);
    padding-left: 15px;
}

nav button:last-child {
    border-radius: 0 25px 25px 0;
    border-right: 1px solid hsl(0, 0%, 85%);
    padding-right: 15px;
}

button.active {
    background-color: hsl(210, 68%, 47%);
    cursor: pointer;
}

h1 {
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    padding-top: 28px;
    color: hsl(0, 0%, 85%);
}

header h2 {
    font-family: 'Major Mono Display', monospace;
    margin: 0;
    color: hsl(0, 0%, 85%);
    font-weight: 500;
    position: absolute;
    left: 6.25vw;
    top: 4.25vh;
    letter-spacing: 2px;
}

h3 {
    margin: 0;
    color: hsl(0, 0%, 47%);
    position: absolute;
    left: 6.25vw;
    top: 7.44vh;
    font-size: 14px;
    font-weight: 500;
}

.container {
    text-align: center;
}

section {
    width: 90%;
    margin: 80px auto 39px;
    margin-left: 60px;
}

hr {
    width: 60%;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: inline-block;
}

.recharts-responsive-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: chart;
}

button {
    background-color: black;
    color: hsl(0, 0%, 85%);
    padding: 10px;
    border: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    background-color: hsl(210, 68%, 47%);
    cursor: pointer;
}

button:focus {
    outline: none;
}

.active {
    background-color: hsl(0, 0%, 85%);
}

footer {
    background-color: hsl(240, 80%, 5%);
    color: hsl(0, 0%, 85%);
    font-size: 14px;
    width: 100%;
    height: 60px;
    border-top: 1px solid hsl(0, 0%, 85%);
    position: relative;
    bottom: 0;
}

footer p {
    margin-top: 20px;
}