#winrate-monthly {
    width: max-content;
    margin: 20px auto 0;
    padding-left: 130px;
    display: grid;
    grid-template-columns: max-content min-content;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        'title empty'
        'winrates controls';
    grid-column-gap: 60px;
    align-items: flex-end;
}

#winrate-monthly-title {
    grid-area: title;
    justify-self: flex-end;
    padding-right: 85px;
    color: hsl(0, 0%, 85%);
}

#winrate-monthly-title h2 {
    font-size: 28px;
    font-weight: 400;
}

#winrate-monthly .all-controls {
    grid-area: controls;
}

#winrate-monthly table {
    border-collapse: collapse;
    display: inline-block;
    grid-area: winrates;
}

#winrate-monthly td {
    padding: 0;
    margin: 0;
    height: 110px;
    width: 110px;
    font-size: 18px;
    color: hsl(0, 0%, 85%);
    border: 1px solid hsl(0, 0%, 85%);
    transition: 0.5s;
}


/* Removing borders on edge of values */


#winrate-monthly table tr:nth-child(2) td {
    border-top: none;
}

#winrate-monthly table tr td:nth-child(2) {
    border-left: none;
}

#winrate-monthly table tr:last-child td {
    border-bottom: none;
}

#winrate-monthly table tr td:last-child {
    border-right: none;
}


/* Removing borders on edge of values */


/* Rounding borders */

#winrate-monthly table tr:nth-child(2) td:nth-child(2) {
    border-radius: 15px 0 0 0;
}

#winrate-monthly table tr:nth-child(2) td:last-child {
    border-radius: 0 15px 0 0;
}

#winrate-monthly table tr:last-child td:nth-child(2) {
    border-radius: 0 0 0 15px;
}

#winrate-monthly table tr:last-child td:last-child {
    border-radius: 0 0 15px 0;
}

/* Rounding borders */


#winrate-monthly td.values:hover {
    opacity: 0.7;
}

#winrate-monthly td.null {
    background-color: hsl(0, 0%, 47%) !important;
}

#winrate-monthly td.winrate-heading-horiz {
    border: none;
    height: 80px;
}

#winrate-monthly td.winrate-heading-vert {
    width: 130px;
    border: none;
}

td#league  {
    height: 70px;
    border: none;
    text-decoration: underline;
    text-align: center;
    font-size: 22px;
}